.DS_Store
.vscode
__pycache__
.env
env
node_modules
.parcel-cache/
coverage/
.metals
ass
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheetvscode
test/
node_modules/
